# services/user/requirements.txt
fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.31
psycopg[binary]==3.2.3
alembic==1.13.2
passlib[bcrypt]==1.7.4
pydantic==2.8.2
pydantic[email]
python-dotenv==1.0.0
redis==5.0.1
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-instrumentation-sqlalchemy==0.42b0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0

prometheus-client==0.19.0
cryptography==42.0.5
email-validator==2.1.1